
body:has([data-theme="clinico"]) {
  --color-content-base: #E5EDF5;

  --color-primary: #004DA0;
  --color-primary-90: #1A5FAA;
  --color-primary-80: #3371B3;
  --color-primary-70: #4D82BD;
  --color-primary-60: #6694C6;
  --color-primary-50: #80A6CF;
  --color-primary-40: #99B8D9;
  --color-primary-30: #B2CAE3;
  --color-primary-20: #CCDBEC;
  --color-primary-10: #E5EDF5;

  --color-secondary: #FBC600;
  --color-secondary-90: #FBCC1A;
  --color-secondary-80: #FCD133;
  --color-secondary-70: #FCD74D;
  --color-secondary-60: #FDDD66;
  --color-secondary-50: #FDE380;
  --color-secondary-40: #FDE899;
  --color-secondary-30: #FEEEB2;
  --color-secondary-20: #FEF4CC;
  --color-secondary-10: #FFF9E5;
}
