
body:has([data-theme="ibelive"]) {
  --color-content-base: #D5EBFF;

  --color-primary: #1890FF;
  --color-primary-90: #2F9BFF;
  --color-primary-80: #46A6FF;
  --color-primary-70: #5DB1FF;
  --color-primary-60: #74BCFF;
  --color-primary-50: #8BC7FF;
  --color-primary-40: #A3D3FF;
  --color-primary-30: #BADEFF;
  --color-primary-20: #D1E9FF;
  --color-primary-10: #E8F4FF;

  --color-secondary: #0098DB;
  --color-secondary-90: #1AA2DF;
  --color-secondary-80: #33ADE2;
  --color-secondary-70: #4DB7E6;
  --color-secondary-60: #66C1E9;
  --color-secondary-50: #80CBED;
  --color-secondary-40: #99D6F1;
  --color-secondary-30: #B2E0F4;
  --color-secondary-20: #CCEAF8;
  --color-secondary-10: #E5F5FB;
}
