
[data-theme="wishlife"] {
  --color-content-base: rgba(97, 54, 110, 0.15);

  --color-primary: rgba(97, 54, 110, 1);
  --color-primary-90: rgba(97, 54, 110, 0.9);
  --color-primary-80: rgba(97, 54, 110, 0.8);
  --color-primary-70: rgba(97, 54, 110, 0.7);
  --color-primary-60: rgba(97, 54, 110, 0.6);
  --color-primary-50: rgba(97, 54, 110, 0.5);
  --color-primary-40: rgba(97, 54, 110, 0.4);
  --color-primary-30: rgba(97, 54, 110, 0.3);
  --color-primary-20: rgba(97, 54, 110, 0.2);
  --color-primary-10: rgba(97, 54, 110, 0.1);

  --color-secondary: rgba(226, 0, 123, 1);
  --color-secondary-90: rgba(226, 0, 123, 0.9);
  --color-secondary-80: rgba(226, 0, 123, 0.8);
  --color-secondary-70: rgba(226, 0, 123, 0.7);
  --color-secondary-60: rgba(226, 0, 123, 0.6);
  --color-secondary-50: rgba(226, 0, 123, 0.5);
  --color-secondary-40: rgba(226, 0, 123, 0.4);
  --color-secondary-30: rgba(226, 0, 123, 0.3);
  --color-secondary-20: rgba(226, 0, 123, 0.2);
  --color-secondary-10: rgba(226, 0, 123, 0.1);
}