
body:has([data-theme="wishlife"]) {
  --color-content-base: #E7E1E9;

  --color-primary: #61366E;
  --color-primary-90: #714A7D;
  --color-primary-80: #815E8B;
  --color-primary-70: #907299;
  --color-primary-60: #A086A8;
  --color-primary-50: #B09AB6;
  --color-primary-40: #C0AFC5;
  --color-primary-30: #D0C3D3;
  --color-primary-20: #DFD7E2;
  --color-primary-10: #EFEBF0;

  --color-secondary: #E2007B;
  --color-secondary-90: #E51A88;
  --color-secondary-80: #E83395;
  --color-secondary-70: #EB4DA3;
  --color-secondary-60: #EE66B0;
  --color-secondary-50: #F180BD;
  --color-secondary-40: #F399CA;
  --color-secondary-30: #F6B2D7;
  --color-secondary-20: #F9CCE5;
  --color-secondary-10: #FCE5F2;
}