@import "tailwindcss" important;

@import "./palettes/clinico.css";
@import "./palettes/ibelive.css";
@import "./palettes/wishlife.css";

@import "./components/alert.css";
@import "./components/base.css";
@import "./components/empty.css";
@import "./components/form.css";
@import "./components/modal.css";
@import "./components/tabs.css";

@theme {
  --color-content-base: var(--color-content-base);
  --color-content-layout: #FFFFFF;
  --color-content-paper: #F0F0F0;
  --color-divider: #D9D9D9;

  --color-black: rgba(0, 0, 0, 0.85);
  --color-gray: rgba(0, 0, 0, 0.45);
  --color-light: '#D9D9D9';
  --color-white: #FFFFFF;

  --color-disabled-dark: rgba(0, 0, 0, 0.25);
  --color-disabled-divider: rgba(0, 0, 0, 0.25);
  --color-disabled-light: #F0F0F0;

  --color-error-dark: #FF4D4F;
  --color-error-divider: #FFCCC7;
  --color-error-light: #FFF1F0;

  --color-info-dark: #1677FF;
  --color-info-divider: #91D5FF;
  --color-info-light: #E6F7FF;

  --color-success-dark: #39AD65;
  --color-success-divider: #B7EB8F;
  --color-success-light: #F6FFED;

  --color-warning-dark: #FAAD14;
  --color-warning-divider: #FFE58F;
  --color-warning-light: #FFFBE6;

  --color-magenta-dark: #EB2F96;
  --color-magenta-divider: #FFADD2;
  --color-magenta-light: #FFF0F6;

  --color-volcano-dark: #FA541C;
  --color-volcano-divider: #FFBB96;
  --color-volcano-light: #FFF2E8;

  --color-orange-dark: #FA8C16;
  --color-orange-divider: #FFD591;
  --color-orange-light: #FFF7E6;

  --color-lime-dark: #A0D911;
  --color-lime-divider: #EAFF8F;
  --color-lime-light: #FCFFE6;

  --color-cyan-dark: #13C2C2;
  --color-cyan-divider: #87E8DE;
  --color-cyan-light: #E6FFFB;

  --color-geekblue-dark: #2F54EB;
  --color-geekblue-divider: #ADC6FF;
  --color-geekblue-light: #F0F5FF;

  --color-purple-dark: #722ED1;
  --color-purple-divider: #D3ADF7;
  --color-purple-light: #F9F0FF;

  --color-primary: var(--color-primary);
  --color-primary-90: var(--color-primary-90);
  --color-primary-80: var(--color-primary-80);
  --color-primary-70: var(--color-primary-70);
  --color-primary-60: var(--color-primary-60);
  --color-primary-50: var(--color-primary-50);
  --color-primary-40: var(--color-primary-40);
  --color-primary-30: var(--color-primary-30);
  --color-primary-20: var(--color-primary-20);
  --color-primary-10: var(--color-primary-10);

  --color-secondary: var(--color-secondary);
  --color-secondary-90: var(--color-secondary-90);
  --color-secondary-80: var(--color-secondary-80);
  --color-secondary-70: var(--color-secondary-70);
  --color-secondary-60: var(--color-secondary-60);
  --color-secondary-50: var(--color-secondary-50);
  --color-secondary-40: var(--color-secondary-40);
  --color-secondary-30: var(--color-secondary-30);
  --color-secondary-20: var(--color-secondary-20);
  --color-secondary-10: var(--color-secondary-10);
}
