.ant-alert {
  &.ant-alert-error {
    color: var(--color-error-dark);
  }
  &.ant-alert-info {
    color: var(--color-info-dark);
  }
  &.ant-alert-success {
    color: var(--color-success-dark);
  }
  &.ant-alert-warning {
    color: var(--color-warning-dark);
  }

  & > .ant-alert-icon, & > .ant-alert-content, & > .ant-alert-content > * {
    color: inherit;
  }
}