
.ant-input-number, .ant-picker {
  width: 100%;
}

.ant-radio-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  & > label {
    text-align: center;
    flex: 1;
  }
}


.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled) .ant-picker-cell-inner,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-disabled) .ant-picker-cell-inner,
.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
  background: var(--color-primary);
  color: var(--color-white);
}