@import 'tailwindcss' important;
@import 'antwind';

/* All Themes */
@import './palettes/nocturne.css';
@import './palettes/pastella.css';

#root {
  height: 100svh;
  overflow: hidden auto;
  background: var(--color-content-layout);
  color: var(--color-base);
}
